<div
  ngClass="ngx-org-connector-{{ direction }}"
  class="ngx-org-border"
  *ngIf="hasParent"
></div>

<div
  [id]="root ? 'scroller' : undefined"
  class="ngx-org-box ngx-org-background"
  (click)="changeRoot()"
>
  <div class="ngx-org-count-left">
    {{ node?.left_count ? node?.left_count : 0 }}
  </div>
  <div class="info-div">
    <div
      class="ngx-org-image"
      [ngClass]="
        node?.is_owner
          ? 'ngx-org-border-owner'
          : node?.is_admin
          ? 'ngx-org-border-admin'
          : node?.is_mega_center
          ? 'ngx-org-border-mega-center'
          : node?.is_stockist
          ? 'ngx-org-border-stockist'
          : 'ngx-org-border-default'
      "
      [ngStyle]="{ 'background-image': 'url(\'' + 'assets/node.svg' + '\')' }"
    ></div>
    <div class="ngx-org-name">
      {{ node?.first_name }} {{ last_initial(node?.last_name) }}.
    </div>
    <div class="ngx-org-title">{{ node?.account_number }}</div>
  </div>
  <div class="ngx-org-count-right">
    {{ node?.right_count ? node?.right_count : 0 }}
  </div>
</div>

<div
  ngClass="ngx-org-connector-{{ direction }}"
  class="ngx-org-border"
  *ngIf="(node?.left_count == 0 && node?.right_count != 0) || is_admin"
></div>
<div
  *ngIf="
    !node?.left_branch &&
    !node?.right_branch &&
    node?.left_count != 0 &&
    node?.right_count != 0
  "
>
  <fa-icon
    [icon]="faArrowCircleDown"
    class="icons"
    (click)="fetchDownward()"
  ></fa-icon>
</div>
