@import '../_theming'
@import 'variable'


.ngx-org
  &-image
    background-repeat: no-repeat
    width: 1.5em
    height: 1.5em
    margin-right: 0.5em
    background-color: white
    border-radius: 50%
    padding: 0.25em


  &-name
    font-size: 0.7rem
    color: black
    font-weight: bold


  &-title
    margin-top: 4px
    font-size: 0.7rem


:host
  display: flex
  align-items: center

.ngx-org-box
  cursor: pointer
  display: flex
  align-items: center
  padding-top: 5px
  padding-bottom: 5px

.info-div
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.icons
  color: $primaryColor
  font-size: 1.3rem
  cursor: pointer
