<div
  ngClass="ngx-org-connector-{{ direction }}"
  class="ngx-org-border"
  *ngIf="hasParent"
></div>

<div
  [ngClass]="
    node?.is_owner
      ? 'ngx-org-shadow-owner'
      : node?.is_admin
      ? 'ngx-org-shadow-admin'
      : node?.is_mega_center
      ? 'ngx-org-shadow-mega-center'
      : node?.is_stockist
      ? 'ngx-org-shadow-stockist'
      : 'ngx-org-shadow'
  "
  class="ngx-org-box ngx-org-border ngx-org-background"
  (click)="itemClick.emit(node)"
>
  <div class="ngx-org-count-left">
    {{ node?.left_count ? node?.left_count : 0 }}
  </div>
  <div
    class="ngx-org-image ngx-org-border"
    [ngStyle]="{ 'background-image': 'url(\'' + 'assets/node.svg' + '\')' }"
  ></div>
  <div>
    <div class="ngx-org-name">{{ node?.first_name }} {{ node?.last_name }}</div>
    <div class="ngx-org-title">
      {{ node?.address }}
    </div>
  </div>
  <div class="ngx-org-count-right">
    {{ node?.right_count ? node?.right_count : 0 }}
  </div>
</div>

<div ngClass="ngx-org-connector-{{ direction }}" class="ngx-org-border"></div>
