@import 'variable'

.setting-container
  padding: 10px 10px
  padding-left: 10px
  padding-right: 20px

.action
  width: 400px
  display: flex
  justify-content: flex-end

.eye
  color: gray

.title
  margin-bottom: 20px
  color: $primaryColor

mat-form-field
  width: 400px
