<div class="table-container">
  <div class="main-top">
    <h1 class="title">Repeat Purchase</h1>
    <div class="end">
      <app-button
        title="Purchase Buy 1 take 1"
        icon="faMoneyBillWave"
        (click)="purchase()"
      ></app-button>
      <app-input
        title="Search"
        placeholder="Ex. Reggie "
        suffix-icon="faSearch"
        (keyup)="search($event)"
      ></app-input>
    </div>
  </div>

  <ngx-datatable
    class="material"
    [rows]="rows"
    [limit]="7"
    rowHeight="auto"
    [headerHeight]="40"
    [footerHeight]="50"
    [scrollbarH]="true"
  >
    <ngx-datatable-column name="Purchase Value" [width]="195">
      <ng-template let-row="row" ngx-datatable-cell-template>
        ₱ {{ row.value | number: "1.2-2" }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Quantity" [width]="195">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.quantity }} ( Buy 1 Take 1 )
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Request Date" [width]="250">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.createdAt | date: "medium" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Approved Date" [width]="270">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ng-container *ngIf="row.approved_date == undefined">
          -/-/-/-/-/-/-/-/-/-/-/-/-/-
        </ng-container>
        <ng-container *ngIf="row.approved_date">
          {{ row.approved_date | date: "medium" }}
        </ng-container>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Status" [width]="250">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ng-container *ngIf="row.approved">
          <span class="verified">
            <fa-icon [icon]="verifiedIcon"></fa-icon>
            Verified
            <div>
              {{ row.remarks }}
            </div>
          </span>
        </ng-container>
        <ng-container *ngIf="!row.approved">
          <span class="unverified"> Not Verified </span>
        </ng-container>
      </ng-template></ngx-datatable-column
    >
  </ngx-datatable>
</div>
