<div class="pin-history">
  <div class="legend">
    <h1>Pin History</h1>
  </div>

  <ngx-datatable
    class="material fullscreen"
    [columnMode]="ColumnMode.force"
    style="top: 10px"
    [headerHeight]="50"
    [footerHeight]="0"
    [rowHeight]="'auto'"
    [scrollbarH]="true"
    [rows]="dataSource$ | async"
  >
    <ngx-datatable-column name="Recipient">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.recipient.first_name }} {{ row.recipient.last_name }}
        <div class="primary">
          {{ row.recipient.account_number }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Pin Quantity">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="primary">
          {{ row.quantity | number: "1.0-0" }} PINS +
          {{ row.coffee_quantity | number: "1.0-0" }} Coffee +
          {{ row.soap_quantity | number: "1.0-0" }} Soap
        </div>
        <div>
          <strong>
            {{ row.createdAt | date: "short" }}
          </strong>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
