@import 'variable'
@import 'responsive'

:host

  @include media('<lg')
    width: 100%

h1
    font-size: 1.3rem

h2
    font-size: 0.9rem
    text-align: center
h3
    font-size: 0.7rem
    font-weight: normal

.inline
    display: inline-block

.card
    height: 140px
    min-width: 200px
    border-radius: 20px
    color: $fontColor
    padding: 10px
    background-color: white
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)

    @include media('<lg')
      min-width: none
      height: 100px

    .container
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        line-height: 1.2




        .money
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center

          @include media('<lg')
            flex-direction: row


            fa-icon
              margin-right: 10px


          fa-icon
              font-size: 40px
              @include media('<lg')
                font-size: 30px


          @include media('<lg')
            justify-content: flex-start
            align-items: center


