<div class="table-container">
  <div class="main-top">
    <h1 class="title">Authentication Table</h1>
    <div class="end">
      <app-input
        title="Search Account Number"
        class-form-field="full-width"
        placeholder="Ex. PAC02456 "
        suffix-icon="faSearch"
        (keyup)="search($event)"
      ></app-input>
    </div>
  </div>

  <ngx-datatable
    class="material"
    [rows]="rows"
    [limit]="7"
    rowHeight="auto"
    [headerHeight]="40"
    [footerHeight]="50"
    [scrollbarH]="true"
  >
    <ngx-datatable-column name="Name" [width]="250">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.first_name }} {{ row.last_name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Address" [width]="200"> </ngx-datatable-column>
    <ngx-datatable-column name="Contact Number" [width]="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.contact_number }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Birthdate" [width]="210">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.birthdate | date: "longDate" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Position" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ng-container *ngIf="row.is_owner">
          <span class="owner">
            <fa-icon [icon]="userIcon"></fa-icon> Owner</span
          ></ng-container
        >
        <ng-container *ngIf="row.is_admin && !row.is_owner">
          <span class="admin">
            <fa-icon [icon]="userIcon"></fa-icon> Admin</span
          ></ng-container
        >

        <ng-container *ngIf="row.is_mega_center">
          <span class="mega-center">
            <fa-icon [icon]="userIcon"></fa-icon> Mega Center
            <br />
            <span>
              {{ row.member_that_verified ? row.member_that_verified : 0 }} /
              {{ row.max_member_to_verify ? row.max_member_to_verify : 0 }}
            </span>
          </span>
        </ng-container>
        <ng-container *ngIf="row.is_stockist">
          <span class="stockist">
            <fa-icon [icon]="userIcon"></fa-icon> Stockist</span
          ></ng-container
        >
        <ng-container
          *ngIf="
            !row.is_admin &&
            !row.is_stockist &&
            !row.is_owner &&
            !row.is_mega_center
          "
        >
          <span class="member">
            <fa-icon [icon]="userIcon"></fa-icon> Member</span
          ></ng-container
        >
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Edit User" [width]="170">
      <ng-template ngx-datatable-cell-template let-row="row">
        <button
          *ngIf="!row.is_owner"
          mat-stroked-button
          color="primary"
          (click)="edit_user(row)"
        >
          Edit User
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
