<div class="table-container">
  <div class="main-top">
    <h1 class="title">Pairing Bonus</h1>
    <div class="end">
      <app-input
        title="Search Account Number"
        class-form-field="full-width"
        placeholder="Ex. PAC02456 "
        suffix-icon="faSearch"
        (keyup)="search($event)"
      ></app-input>
    </div>
  </div>

  <ngx-datatable
    class="material"
    [rows]="rows"
    [limit]="8"
    rowHeight="auto"
    [headerHeight]="40"
    [footerHeight]="50"
    [scrollbarH]="true"
  >
    <ngx-datatable-column name="Team A" [width]="340">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.left?.first_name }}
        {{ row.left?.last_name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Team B" [width]="320">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.right?.first_name }}
        {{ row.right?.last_name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date Paired" [width]="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.createdAt | date: "medium" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Status" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ng-container *ngIf="row.income > 0">
          <span class="verified">
            <fa-icon [icon]="verifiedIcon"></fa-icon>
            Verified
          </span>
        </ng-container>
        <ng-container *ngIf="row.income <= 0">
          <span class="unverified"> Not Verified </span>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Income" [width]="180">
      <ng-template let-row="row" ngx-datatable-cell-template>
        ₱ {{ row.income | number: "1.2-2" }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
