<div mat-dialog-title>
  Purchase Buy 1 Take 1
  <div
    *ngIf="form.get('quantity')?.value * purchase_value as total_value"
    class="sub title"
  >
    Total Value ₱ {{ total_value | number }}
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="purchase()">
  <div mat-dialog-content>
    <mat-form-field class="amount">
      <mat-label>Enter the quantity you want to buy</mat-label>
      <input
        matInput
        placeholder="0"
        type="number"
        formControlName="quantity"
        [errorStateMatcher]="matcher"
      />

      <mat-error *ngIf="form.get('quantity')?.hasError('purchaseExceed')">
        You can't purchase 0 value
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button mat-dialog-close type="submit" [disabled]="form.invalid">
      Purchase
    </button>
  </div>
</form>
