<div>
  <div class="main-top">
    <h1 class="title">{{ table_title }}</h1>
    <div class="end">
      <app-input
        title="Search"
        placeholder="Ex. Reggie "
        suffix-icon="faSearch"
        (keyup)="search($event)"
      ></app-input>

      <app-button
        *ngIf="button_icon || button_title"
        [icon]="button_icon"
        [title]="button_title"
        (click)="openDialog()"
      ></app-button>
    </div>
  </div>

  <ngx-datatable
    class="material"
    [rows]="rows"
    [limit]="8"
    rowHeight="auto"
    [headerHeight]="40"
    [footerHeight]="50"
  >
    <ngx-datatable-column
      *ngFor="let column of columns"
      [name]="column.name"
      [width]="column.width"
    >
    </ngx-datatable-column>
    <ngx-datatable-column name="Income" [width]="220">
      <ng-template let-value="value" ngx-datatable-cell-template>
        ₱ {{ value | number }}
      </ng-template></ngx-datatable-column
    >
  </ngx-datatable>
</div>
