<div class="login-container">
  <div class="login-wrapper">
    <div class="login-form">
      <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
        <mat-form-field>
          <mat-label>Account Number</mat-label>
          <input
            matInput
            placeholder="Type account number"
            formControlName="account_number"
            [errorStateMatcher]="matcher"
            oninput="this.value = this.value.toUpperCase()"
          />
          <mat-error *ngIf="form.get('username')?.hasError('required')">
            Account Number is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Type password"
            type="password"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <mat-icon class="eye" matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>

          <mat-error *ngIf="form.get('password')?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class="error-box" *ngIf="form?.hasError('incorrectAuth')">
          <p>
            Siguraduhing tama ang nailagay na <b>account number at password</b>
          </p>
        </div>

        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="login-btn"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
