<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Type username"
        type="text"
        formControlName="username"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Type password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" class="login-btn">
        Login
      </button>
      <mat-divider></mat-divider>
      <button
        mat-raised-button
        color="accent"
        class="login-btn"
        routerLink="/register"
      >
        Register
      </button>
    </div>
  </form>
</div>
