<div class="stock-inventory">
  <h1>Stock Inventory</h1>

  <div class="lists">
    <div class="item">
      <div>
        <h4>Pure Angel Coffee</h4>

        <ul>
          <li>Chocolate</li>
          <li>Mocha</li>
          <mat-divider></mat-divider>
          <li class="primary">Total Amount</li>
        </ul>
      </div>

      <div style="margin-top: 50px">
        <h4>Pure Angel Soap</h4>

        <ul>
          <li>Chocolate</li>
          <li>Mocha</li>
          <mat-divider></mat-divider>
          <li class="primary">Total Amount</li>
        </ul>
      </div>
    </div>

    <div class="amount">
      <div>
        <h4>Amount</h4>

        <ul>
          <li><strong>40 pcs</strong></li>
          <li><strong>40 pcs</strong></li>
          <mat-divider></mat-divider>
          <li><strong>400 pcs</strong></li>
        </ul>
      </div>

      <div style="margin-top: 50px">
        <h4>Amount</h4>

        <ul>
          <li><strong>40 pcs</strong></li>
          <li><strong>40 pcs</strong></li>
          <mat-divider></mat-divider>
          <li><strong>400 pcs</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
