<div class="stock-inventory">
  <h1>Stock Inventory</h1>

  <div class="lists">
    <div class="item">
      <div>
        <h4 class="primary">Pure Angel Coffee</h4>
        <h4 class="primary">Pure Angel Soap</h4>
      </div>
    </div>

    <div class="amount">
      <div>
        <h4 class="primary">
          {{
            (user$ | async)?.stock_coffee ? (user$ | async)?.stock_coffee : 0
          }}
          box
        </h4>
        <h4 class="primary">
          {{ (user$ | async)?.stock_coffee ? (user$ | async)?.stock_soap : 0 }}
          box
        </h4>
      </div>
    </div>
  </div>

  <form
    *ngIf="(user$ | async)?.is_admin"
    [formGroup]="form"
    (ngSubmit)="restock()"
  >
    <h1>Re-Stock Inventory</h1>

    <div class="lists">
      <div class="amount">
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pure Angel Coffee</mat-label>
            <input matInput type="number" formControlName="stock_coffee" />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pure Angel Soap</mat-label>
            <input matInput type="number" formControlName="stock_soap" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit">Confirm</button>
  </form>
</div>
