<div class="dashboard-container">
  <div class="dashboard-top-info">
    <div
      class="profile-pic"
      [ngStyle]="{ 'background-image': 'url(\'' + 'assets/node.svg' + '\')' }"
    ></div>

    <div class="user-info">
      <div class="greetings">
        <h1>
          Hello,
          {{ (user$ | async)?.first_name + " " + (user$ | async)?.last_name }}
        </h1>
        <h2>Account Number: {{ (user$ | async)?.account_number }}</h2>
      </div>

      <div class="total-assets">
        <h1>
          ₱
          {{
            (user$ | async)?.unpaid_income
              ? ((user$ | async)?.unpaid_income | number: "1.2-2")
              : "0.00"
          }}
        </h1>
        <h2>Unclaimed Income</h2>
      </div>
    </div>
  </div>

  <div class="dashboard-bottom-info">
    <div class="name">
      <div>
        <h4>Incomes</h4>
        <ul>
          <li>Direct Referral</li>
          <li>Indirect Referral</li>
          <li>Pairing Bonus</li>
          <li>AE Rebates</li>
          <mat-divider></mat-divider>
          <li class="primary">Total Income</li>
          <li class="primary">Unclaimed Income</li>
        </ul>
      </div>

      <div style="margin-top: 40px" *ngIf="isMegaAdminStock(user$ | async)">
        <h4>Inventory Income</h4>
        <ul>
          <li>Coffee Income</li>
          <li>Soap Income</li>
          <mat-divider></mat-divider>
          <li class="primary">Total Income</li>
        </ul>
      </div>
    </div>

    <div class="amount">
      <div>
        <h4>Amount</h4>

        <ul>
          <li>
            <strong
              >₱ {{ (user$ | async)?.direct_referral | number: "1.2-2" }}
            </strong>
          </li>
          <li>
            <strong
              >₱ {{ (user$ | async)?.indirect_referral | number: "1.2-2" }}
            </strong>
          </li>
          <li>
            <strong
              >₱ {{ (user$ | async)?.pairing_bonus | number: "1.2-2" }}
            </strong>
          </li>
          <li>
            <strong
              >₱
              {{
                (user$ | async)?.automatic_equivalent_rebates | number: "1.2-2"
              }}
            </strong>
          </li>
          <mat-divider></mat-divider>
          <li>
            <strong
              >₱ {{ (user$ | async)?.overall_income | number: "1.2-2" }}
            </strong>
          </li>
          <li>
            <strong
              >₱ {{ (user$ | async)?.unpaid_income | number: "1.2-2" }}
            </strong>
          </li>
        </ul>
      </div>

      <div style="margin-top: 40px" *ngIf="isMegaAdminStock(user$ | async)">
        <h4>Amount</h4>

        <ul>
          <li>
            <strong
              >₱
              {{
                (user$ | async)?.inventory?.coffee_income
                  ? ((user$ | async)?.inventory?.coffee_income
                    | number: "1.2-2")
                  : (0 | number: "1.2-2")
              }}</strong
            >
          </li>
          <li>
            <strong
              >₱
              {{
                (user$ | async)?.inventory?.soap_income
                  ? ((user$ | async)?.inventory?.soap_income | number: "1.2-2")
                  : (0 | number: "1.2-2")
              }}</strong
            >
          </li>
          <mat-divider></mat-divider>
          <li>
            <strong
              >₱ {{ totalInventory(user$ | async) | number: "1.2-2" }}</strong
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
