<div class="dashboard-top-info">
  <div class="greetings">
    <h1>Hello, {{ (user$ | async)?.first_name }}</h1>
    <h2>Welcome back to Pure Angel Cofee</h2>
  </div>
  <div class="total-assets">
    <h1>
      ₱
      {{
        (user$ | async)?.overall_income
          ? ((user$ | async)?.overall_income | number: "1.2-2")
          : "0.00"
      }}
    </h1>
    <h2>Overall Income</h2>
  </div>
</div>

<app-line-chart></app-line-chart>

<div class="dashboard-bottom-info">
  <app-card-total-number
    [money]="(user$ | async)?.indirect_referral"
    icon="faUsers"
    label="Indirect Referral"
  ></app-card-total-number>

  <app-card-total-number
    [money]="(user$ | async)?.direct_referral"
    icon="faUsers"
    label="Direct Referral"
  ></app-card-total-number>

  <app-card-total-number
    [money]="(user$ | async)?.pairing_bonus"
    icon="faCommentsDollar"
    label="Pairing Bonus"
  ></app-card-total-number>

  <app-card-total-number
    [money]="(user$ | async)?.automatic_equivalent_rebates"
    icon="faHandHoldingUsd"
    label="Automatic Equivalent Rebates"
  ></app-card-total-number>

  <app-card-total-number
    [money]="(user$ | async)?.automatic_equivalent_rebates"
    icon="faMoneyBillAlt"
    label="Pairing Product Voucher"
  ></app-card-total-number>
</div>
