<div class="dashboard-top-info">
  <div class="greetings">
    <h1>Hello, Regie!</h1>
    <h2>Welcome back to Pure Angel Cofee</h2>
  </div>
  <div class="total-assets">
    <h1>₱ 14,300.00</h1>
    <h2>Overall Income</h2>
  </div>
</div>

<app-line-chart></app-line-chart>

<div class="dashboard-bottom-info">
  <app-card-total-number
    [money]="2300"
    icon="faFunnelDollar"
    label="Direct Selling"
  ></app-card-total-number>

  <app-card-total-number
    [money]="110.03"
    icon="faUsers"
    label="Indirect Referral"
  ></app-card-total-number>

  <app-card-total-number
    [money]="370.22"
    icon="faUsers"
    label="Direct Referral"
  ></app-card-total-number>

  <app-card-total-number
    [money]="8500"
    icon="faCommentsDollar"
    label="Pairing Bonus"
  ></app-card-total-number>

  <app-card-total-number
    [money]="3320"
    icon="faHandHoldingUsd"
    label="Automatic Equivalent Rebates"
  ></app-card-total-number>
</div>
