@import 'variable'

.dashboard-top-info
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 34px
    padding-right: 34px
    margin-bottom: 18px
    height: 140px
    width: 100%
    border-radius: 20px
    background-color: $primaryColor

    .greetings, .total-assets
        color: white
        line-height: 1.4

        h2
            font-size: 1rem
            font-weight: normal

    .total-assets
        h1
            font-size: 3rem
        h2
            text-align: end


.dashboard-bottom-info 
    display: flex
    margin-top: -40px
    
    > * + *
        margin-left: 36px