<mat-progress-bar
  *ngIf="loaderService.isLoading | async"
  mode="indeterminate"
></mat-progress-bar>

<mat-drawer-container>
  <mat-drawer #drawer mode="over">
    <app-side-bar
      *ngIf="sideBarService.visibility"
      [drawer]="drawer"
    ></app-side-bar>
  </mat-drawer>
  <app-top-bar [drawer]="drawer" *ngIf="topBarService.visibility"></app-top-bar>
  <app-side-bar
    *ngIf="sideBarService.visibility"
    class="big-screen-side-bar"
  ></app-side-bar>

  <main [class.main-margin]="sideBarService.visibility" id="main">
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
