<mat-progress-bar
  *ngIf="loaderService.isLoading | async"
  mode="indeterminate"
></mat-progress-bar>

<mat-drawer-container>
  <mat-drawer #drawer mode="over">
    <app-side-bar
      *ngIf="sideBarService.visibility"
      [drawer]="drawer"
    ></app-side-bar>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>coffee</mat-icon>
    </button>
    <span>Pure Angel Coffee</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar>

  <app-side-bar
    *ngIf="sideBarService.visibility"
    class="big-screen-side-bar"
  ></app-side-bar>

  <main [class.main-margin]="sideBarService.visibility" id="main">
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
