<div class="table-container">
  <div class="main-top">
    <h1 class="title">Administrative Table</h1>
    <div class="end">
      <app-input
        title="Search"
        placeholder="Ex. Reggie "
        suffix-icon="faSearch"
        (keyup)="search($event)"
      ></app-input>
    </div>
  </div>

  <ngx-datatable
    class="material"
    [rows]="usersTable$ | async"
    [limit]="8"
    rowHeight="auto"
    [headerHeight]="40"
    [footerHeight]="50"
    [scrollbarH]="true"
  >
    <ngx-datatable-column name="Name" [width]="270">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-checkbox
          class="chekbox-margin"
          color="primary"
          [checked]="row.verified"
          (change)="checkUser($event.checked, row._id)"
        ></mat-checkbox>
        {{ row.first_name }} {{ row.last_name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Secret Code" [width]="250">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row._id }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Birthdate" [width]="170">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | date: "longDate" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Address" [width]="280"> </ngx-datatable-column>
    <ngx-datatable-column name="Status" [width]="120">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ng-container *ngIf="row.verified == true">
          <span class="verified">
            <fa-icon [icon]="verifiedIcon"></fa-icon>
            Verified
          </span>
        </ng-container>
        <ng-container *ngIf="row.verified == false">
          <span class="unverified"> Not Verified </span>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Expenditure" [width]="130">
      <ng-template let-row="row" ngx-datatable-cell-template>
        ₱
        {{ row.income_direct_referral + row.income_indirect_referral | number }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
