<mat-tab-group>
  <mat-tab label="Direct Selling">
    <div class="main-top">
      <app-button></app-button>
    </div>

    <div>
      <app-table></app-table>
    </div>
  </mat-tab>

  <mat-tab label="Indirect Referral">
    <div class="main-top">
      <app-button></app-button>
    </div>

    <div>
      <app-table></app-table>
    </div>
  </mat-tab>

  <mat-tab label="Direct Referral">
    <div class="main-top">
      <app-button></app-button>
    </div>

    <div>
      <app-table></app-table>
    </div>
  </mat-tab>
</mat-tab-group>
