<mat-tab-group>
  <mat-tab label="Direct Selling">
    <app-table
      [rows]="direct_selling_rows"
      button-icon="faFunnelDollar"
      button-title="Add Direct Selling"
    ></app-table>
  </mat-tab>

  <mat-tab label="Indirect Referral">
    <app-table
      [rows]="indirect_referral_rows"
      button-icon="faUsers"
      button-title="Add Indirect Referral"
    ></app-table>
  </mat-tab>

  <mat-tab label="Direct Referral">
    <app-table
      [rows]="direct_referral_rows"
      button-icon="faUsers"
      button-title="Add Direct Referral"
    ></app-table>
  </mat-tab>
</mat-tab-group>
