<mat-tab-group>
  <mat-tab label="Verification"
    ><app-verification [rows]="verification$ | async"></app-verification>
  </mat-tab>
  <mat-tab label="Authentication"
    ><app-authentication [rows]="authentication$ | async"></app-authentication>
  </mat-tab>
  <mat-tab label="Cashouts Verifications"
    ><app-cashouts-verification
      [rows]="cashouts$ | async"
    ></app-cashouts-verification>
  </mat-tab>
  <mat-tab label="Purchases Verifications">
    <app-purchase-verification
      [rows]="purchases$ | async"
    ></app-purchase-verification>
  </mat-tab>
</mat-tab-group>
`
