<h1 mat-dialog-title>
  Total Unpaid Income: ₱ {{ (user$ | async)?.unpaid_income }}
</h1>
<form [formGroup]="form" (ngSubmit)="cashout()">
  <div mat-dialog-content>
    <mat-form-field class="amount">
      <mat-label>Enter the amount you want to cashout</mat-label>
      <input
        matInput
        placeholder="Ex. 700"
        type="number"
        formControlName="amount"
        [errorStateMatcher]="matcher"
      />

      <mat-error *ngIf="form.get('amount')?.hasError('amountExceed')">
        You can only cashout minimum of ₱ 100 maximum of ₱
        {{ (user$ | async)?.unpaid_income }}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button mat-dialog-close type="submit" [disabled]="form.invalid">
      Cashout
    </button>
  </div>
</form>
