<h1 mat-dialog-title>Total Cashout ₱ 120</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <mat-form-field class="amount" appearance="fill">
      <mat-label>Add remarks</mat-label>
      <textarea
        rows="4"
        matInput
        placeholder="Ex. Send Via GCash"
        formControlName="remarks"
      ></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button mat-dialog-close type="submit" [disabled]="form.invalid">
      Approve
    </button>
  </div>
</form>
