<div class="new-member">
  <div class="legend">
    <strong>AVAILABLE PINS :</strong>
    <span *ngIf="(user$ | async)?.number_of_pin">
      {{ (user$ | async)?.number_of_pin }}
    </span>
    <span
      *ngIf="
        (user$ | async)?.number_of_pin == undefined ||
        (user$ | async)?.number_of_pin == 0
      "
    >
      Out of Stock</span
    >
    <div style="margin-top: 5px" *ngIf="(user$ | async)?.number_of_pin">
      <span>
        PINS (
        {{ pinRange(user$ | async) }} )
      </span>
    </div>
  </div>
  <mat-stepper
    orientation="vertical"
    [linear]="isLinear"
    #stepper
    *ngIf="canStock(user$ | async)"
  >
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill Up Member Information</ng-template>

        <p>
          <strong>Account # :</strong>
          <span> {{ getFirstPin(user$ | async) }} </span>
        </p>

        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="Ex. Albert"
            formControlName="first_name"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Ex. Manalo"
            formControlName="last_name"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Contact Number</mat-label>
          <input
            matInput
            placeholder="Ex. 09084741500"
            formControlName="contact_number"
            required
          />
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Member Genealogy Placement</ng-template>

        <mat-form-field appearance="fill" style="margin-top: 40px">
          <mat-label>Referral Account #</mat-label>
          <input
            matInput
            formControlName="referral_account"
            placeholder="Ex. PAC0123"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Place Under Account #</mat-label>
          <input
            matInput
            formControlName="place_under_account"
            placeholder="Ex. PAC0123"
            required
          />
        </mat-form-field>

        <div style="margin-top: 5px; margin-bottom: 20px">
          <button
            mat-raised-button
            color="primary"
            (click)="searchPlaceUnder()"
          >
            Search Place Under
          </button>
        </div>

        <mat-button-toggle-group
          name="fontStyle"
          aria-label="Font Style"
          style="margin-bottom: 20px"
          formControlName="position"
        >
          <mat-button-toggle
            value="left"
            [disabled]="isLeft(placeUnder$ | async)"
            >LEFT</mat-button-toggle
          >
          <mat-button-toggle
            value="right"
            [disabled]="isRight(placeUnder$ | async)"
            >RIGHT</mat-button-toggle
          >
        </mat-button-toggle-group>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h1>Almost done...</h1>
      <h2>Please double check before creating</h2>
      <ul>
        <li>
          Account # : <span> {{ getFirstPin(user$ | async) }} </span>
        </li>
        <li>
          Name :
          <span>{{
            NewMemberInfo.first_name + " " + NewMemberInfo.last_name
          }}</span>
        </li>
        <li>
          Contact Number : <span>{{ NewMemberInfo.contact_number }}</span>
        </li>
        <li>
          Referral Account # : <span>{{ NewMemberInfo.referral_account }}</span>
        </li>
        <li>
          Place Under Account # :
          <span>{{ NewMemberInfo.place_under_account }}</span>
        </li>
        <li>
          Position :
          <span>{{ NewMemberInfo.position == "left" ? "Left" : "Right" }}</span>
        </li>
      </ul>
      <div *ngIf="user$ | async as user">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="createMember(user, stepper)">Done</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
