<nav class="side-nav-container">
  <div class="side-nav">
    <img src="assets/icons/logo.png" alt="logo" width="40px" />

    <div class="tabs-container">
      <ul>
        <li
          *ngIf="checkIfAdmin"
          routerLinkActive="active"
          routerLink="/admin"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="top-illusion"></div>
          <div class="icon-container">
            <div class="icon-illusion">
              <div>
                <fa-icon [icon]="userShield" class="icons"></fa-icon>
              </div>
            </div>
          </div>
          <div class="bottom-illusion"></div>
        </li>
        <li
          *ngFor="let menu of menus"
          routerLinkActive="active"
          routerLink="{{ menu.url }}"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="top-illusion"></div>
          <div class="icon-container">
            <div class="icon-illusion">
              <div>
                <fa-icon [icon]="menu.icon" class="icons"></fa-icon>
              </div>
            </div>
          </div>
          <div class="bottom-illusion"></div>
        </li>
      </ul>
    </div>

    <button (click)="logout()">
      <img src="assets/icons/logout.png" alt="logo" />
    </button>
  </div>
</nav>
