<nav
  class="side-nav-container"
  [style.display]="
    sidebarService.buttonShow == undefined
      ? undefined
      : sidebarService.buttonShow == true
      ? 'flex'
      : undefined
  "
>
  <div class="side-nav">
    <div class="logo-container">
      <img src="assets/icons/logo.png" alt="logo" width="40px" />
      <span>PAC</span>
    </div>
    <div class="tabs-container">
      <ul>
        <li
          *ngIf="checkIfAdmin"
          routerLinkActive="active"
          routerLink="/admin"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="top-illusion"></div>
          <div class="icon-container">
            <div class="icon-illusion">
              <div>
                <fa-icon [icon]="userShield" class="icons"></fa-icon>
                <span>Admin</span>
              </div>
            </div>
          </div>
          <div class="bottom-illusion"></div>
        </li>

        <li
          *ngIf="checkIfMegaCenter"
          routerLinkActive="active"
          routerLink="/mega-center"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="top-illusion"></div>
          <div class="icon-container">
            <div class="icon-illusion">
              <div>
                <fa-icon [icon]="userCheck" class="icons"></fa-icon>
                <span>Mega Center</span>
              </div>
            </div>
          </div>
          <div class="bottom-illusion"></div>
        </li>

        <li
          *ngFor="let menu of menus"
          routerLinkActive="active"
          routerLink="{{ menu.url }}"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="top-illusion"></div>
          <div class="icon-container">
            <div class="icon-illusion">
              <div>
                <fa-icon [icon]="menu.icon" class="icons"></fa-icon>
                <span>{{ menu.name }}</span>
              </div>
            </div>
          </div>
          <div class="bottom-illusion"></div>
        </li>

        <li (click)="logout()">
          <div class="top-illusion"></div>
          <div class="icon-container">
            <div class="icon-illusion">
              <div>
                <fa-icon [icon]="logoutIcon" class="icons"></fa-icon>
                <span>Logout</span>
              </div>
            </div>
          </div>
          <div class="bottom-illusion"></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
