<div class="dashboard-top-info">
  <div class="greetings">
    <h1>Hello, Regie!</h1>
    <h2>Welcome back to Pure Angel Cofee</h2>
  </div>
  <div class="total-assets">
    <h1>₱ 2,300.00</h1>
    <h2>Total Assets</h2>
  </div>
</div>

<app-line-chart></app-line-chart>

<div class="dashboard-bottom-info">
  <app-card-total-number
    [money]="110.03"
    icon="faUsers"
    label="Indirect Referral"
  ></app-card-total-number>

  <app-card-total-number
    [money]="370.22"
    icon="faUsers"
    label="Direct Referral"
  ></app-card-total-number>
</div>
