<div class="income-history">
  <h1 class="legend">
    <ng-container *ngIf="title == 'indirect-referral'"
      >Indirect Referral</ng-container
    >
    <ng-container *ngIf="title == 'direct-referral'"
      >Direct Referral</ng-container
    >
    <ng-container *ngIf="title == 'pairing-bonus'">Pairing Bonus</ng-container>
    <ng-container *ngIf="title == 'ae-rebates-b1t1'"
      >AE Rebates B1T1</ng-container
    >
    <ng-container *ngIf="title == 'ae-rebates-b2t3'"
      >AE Rebates B2T3</ng-container
    >
    <ng-container *ngIf="title == 'new-member'">New Member Income</ng-container>
    <ng-container *ngIf="title == 'coffee-income'">Coffee Income</ng-container>
    <ng-container *ngIf="title == 'soap-income'">Soap Income</ng-container>
    <ng-container *ngIf="title == 'stockist-new-order-b1t1'"
      >B1T1 Stockist Encode New Order Income</ng-container
    >
    <ng-container *ngIf="title == 'stockist-new-order-b2t3'"
      >B2T3 Stockist Encode New Order Income</ng-container
    >
    <ng-container *ngIf="title == 'stockist-repeat-purchase-coffee'"
      >Stockist Repeat Purchase Coffee Income</ng-container
    >
    <ng-container *ngIf="title == 'stockist-repeat-purchase-soap'"
      >Stockist Repeat Purchase Soap Income</ng-container
    >
  </h1>

  <ngx-datatable
    class="material fullscreen"
    [columnMode]="ColumnMode.force"
    style="top: 10px"
    [headerHeight]="50"
    [footerHeight]="0"
    [rowHeight]="'auto'"
    [scrollbarH]="true"
    [rows]="dataSource$ | async"
  >
    <ng-container
      *ngIf="
        title == 'soap-income' ||
        title == 'coffee-income' ||
        title == 'ae-rebates-b1t1' ||
        title == 'ae-rebates-b2t3'
      "
    >
      <ngx-datatable-column name="Buyer">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.buyer.first_name }} {{ row.buyer.last_name }}
          <div class="primary">
            {{ row.buyer.account_number }}
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ng-container>

    <ng-container *ngIf="title == 'new-member'">
      <ngx-datatable-column name="New Member">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.new_member.first_name }} {{ row.new_member.last_name }}
          <div class="primary">
            {{ row.new_member.account_number }}
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ng-container>

    <ng-container
      *ngIf="title == 'direct-referral' || title == 'indirect-referral'"
    >
      <ngx-datatable-column name="Referral Account">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.user.first_name }} {{ row.user.last_name }}
          <div class="primary">
            {{ row.user.account_number }}
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ng-container>

    <ng-container *ngIf="title == 'pairing-bonus'">
      <ngx-datatable-column name="Left and Right Account">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.left.first_name }} {{ row.left.last_name }}
          <div class="primary">
            {{ row.left.account_number }}
          </div>

          {{ row.right.first_name }} {{ row.right.last_name }}
          <div class="primary">
            {{ row.right.account_number }}
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ng-container>

    <ng-container
      *ngIf="
        title == 'stockist-new-order-b1t1' ||
        title == 'stockist-new-order-b2t3' ||
        title == 'stockist-repeat-purchase-coffee' ||
        title == 'stockist-repeat-purchase-soap'
      "
    >
      <ngx-datatable-column name="Stockist">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.stockist.first_name }} {{ row.stockist.last_name }}
          <div class="primary">
            {{ row.stockist.account_number }}
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ng-container>

    <ngx-datatable-column name="Income">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="primary">₱ {{ row.value | number: "1.2-2" }}</div>
        <div>
          <strong>
            {{ row.createdAt | date: "short" }}
          </strong>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
