@import 'responsive'
@import 'variable'

.income-history
  .legend
    padding: 0 10px 5px 10px
    color: $primaryColor
    font-weight: bold

  @include media('<=lg')
    padding-top: 65px



.primary
  font-weight: bold
  color: $primaryColor


table
  width: 100%


h1
  font-weight: 500
  font-size: 1.5rem

h2
  font-weight: 400
  font-size: 1rem

ul
  margin-top: 10px
  li
    margin-bottom: 10px
    font-weight: 500
    font-size: 1rem

span
  color: $primaryColor
