<mat-stepper [linear]="isLinear" #stepper>
  <mat-step
    [stepControl]="personalInfoGroup"
    label="Fill out your personal information"
  >
    <div class="take-notes">
      <h4>
        Siguraduhing <strong>eksaktong eksakto </strong>lahat nang ilalagay na
        impormasyon na itinext sa iyo.
        <strong> Spaces, at maliit o malaking letra ay dapat eksato</strong>
        kapag hindi ito eksakto hindi ka maaring makagawa ng account
      </h4>
    </div>
    <form [formGroup]="personalInfoGroup" class="form-personal-info">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First name"
          formControlName="first_name"
          [errorStateMatcher]="matcher"
          autocomplete="off"
        />
        <mat-error
          *ngIf="personalInfoGroup.get('first_name')?.hasError('pattern')"
        >
          symbols and numbers are not allowed
        </mat-error>
        <mat-error
          *ngIf="personalInfoGroup.get('first_name')?.hasError('maxlength')"
        >
          25 letters only
        </mat-error>
        <mat-error
          *ngIf="personalInfoGroup.get('first_name')?.hasError('minlength')"
        >
          minimum length is 2 letters
        </mat-error>
        <mat-error
          *ngIf="personalInfoGroup.get('first_name')?.hasError('required')"
        >
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last name"
          formControlName="last_name"
          [errorStateMatcher]="matcher"
          autocomplete="off"
        />
        <mat-error
          *ngIf="personalInfoGroup.get('last_name')?.hasError('pattern')"
        >
          symbols are not allowed
        </mat-error>
        <mat-error
          *ngIf="personalInfoGroup.get('last_name')?.hasError('maxlength')"
        >
          25 letters only
        </mat-error>
        <mat-error
          *ngIf="personalInfoGroup.get('last_name')?.hasError('minlength')"
        >
          minimum length is 2 letters
        </mat-error>
        <mat-error
          *ngIf="personalInfoGroup.get('last_name')?.hasError('required')"
        >
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Birthdate</mat-label>
        <input
          #inputBirthdate
          (focus)="birthdate.open()"
          matInput
          formControlName="birthdate"
          [matDatepicker]="birthdate"
          [errorStateMatcher]="matcher"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthdate"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #birthdate
          (closed)="inputBirthdate.blur()"
        ></mat-datepicker>
        <mat-error
          *ngIf="personalInfoGroup.get('birthdate')?.hasError('required')"
        >
          Birthdate is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div>
        <mat-form-field class="address-form">
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="address"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="personalInfoGroup.get('address')?.hasError('maxlength')"
          >
            50 letters only
          </mat-error>
          <mat-error
            *ngIf="personalInfoGroup.get('address')?.hasError('minlength')"
          >
            minimum length is 2 letters
          </mat-error>
          <mat-error
            *ngIf="personalInfoGroup.get('address')?.hasError('required')"
          >
            Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="address-form">
          <mat-label>Secret Code</mat-label>
          <input
            matInput
            formControlName="secret_code"
            [errorStateMatcher]="matcher"
          />

          <mat-error
            *ngIf="personalInfoGroup.get('secret_code')?.hasError('required')"
          >
            Secret Code is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-stroked-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step
    [stepControl]="authenticationGroup"
    label="Fill out your authentications"
  >
    <form [formGroup]="authenticationGroup" class="form-authentication">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="authenticationGroup.get('username')?.hasError('maxlength')"
        >
          25 letters only
        </mat-error>
        <mat-error
          *ngIf="authenticationGroup.get('username')?.hasError('minlength')"
        >
          minimum length is 4 letters
        </mat-error>
        <mat-error
          *ngIf="authenticationGroup.get('username')?.hasError('required')"
        >
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="authenticationGroup.get('password')?.hasError('maxlength')"
        >
          25 letters only
        </mat-error>
        <mat-error
          *ngIf="authenticationGroup.get('password')?.hasError('minlength')"
        >
          minimum length is 8 letters
        </mat-error>
        <mat-error
          *ngIf="authenticationGroup.get('password')?.hasError('required')"
        >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirm_password"
          type="password"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="
            authenticationGroup
              .get('confirm_password')
              ?.hasError('confirmPasswordMustMatch')
          "
        >
          Confirm Password doesn't Match
        </mat-error>
        <mat-error
          *ngIf="
            authenticationGroup.get('confirm_password')?.hasError('required')
          "
        >
          Confirm is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-stroked-button matStepperPrevious color="warn">Back</button>
        <button mat-stroked-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <div class="done-step">
      <ng-template matStepLabel>Create Account</ng-template>
      <h1>You are now on the final stage...</h1>
      <h2>Please double check before creating</h2>
      <ul>
        <li>
          Username :
          <span>{{ RegistrationInfo.username }}</span>
        </li>
        <li>
          Name :
          <span>
            {{ RegistrationInfo.first_name }}
            {{ RegistrationInfo.last_name }}
          </span>
        </li>
        <li>
          Address :
          <span>{{ RegistrationInfo.address }}</span>
        </li>
        <li>
          Birthdate :
          <span>{{ RegistrationInfo.birthdate | date: "MMMM d, y" }}</span>
        </li>
      </ul>
      <div class="button-container">
        <button mat-stroked-button matStepperPrevious color="warn">Back</button>
        <button mat-stroked-button color="accent" (click)="submit()">
          Create
        </button>
      </div>
    </div>
  </mat-step>
</mat-stepper>
