<ul>
  <li>
    <ng-container *ngIf="(referralUser$ | async)?.is_mega_center"
      >Mega Center</ng-container
    >
    <ng-container *ngIf="!(referralUser$ | async)?.is_mega_center"
      >Referral</ng-container
    >
    Account # :
    <span>{{ (referralUser$ | async)?.account_number }}</span>
  </li>
  <li>
    Name :
    <span>{{
      (referralUser$ | async)?.first_name +
        " " +
        (referralUser$ | async)?.last_name
    }}</span>
  </li>
  <li>
    Status :
    <span *ngIf="(referralUser$ | async)?.is_mega_center">Mega Center</span>
    <span *ngIf="(referralUser$ | async)?.is_stockist">Stockist</span>
    <span *ngIf="(referralUser$ | async)?.is_admin">Admin</span>
    <span
      *ngIf="
        (referralUser$ | async)?.is_stockist == undefined &&
        (referralUser$ | async)?.is_mega_center == undefined &&
        (referralUser$ | async)?.is_admin == undefined
      "
      >Member</span
    >
  </li>
  <li>
    Address : <span>{{ (referralUser$ | async)?.address }}</span>
  </li>
  <li>
    Contact Number :
    <span>{{ (referralUser$ | async)?.contact_number }}</span>
  </li>

  <li>
    Rebates
    <ng-container *ngIf="secondFormGroup.get('package')?.value == 'b1t1'">
      ( B1T1 )
    </ng-container>
    <ng-container *ngIf="secondFormGroup.get('package')?.value == 'b2t3'">
      ( B2T3 )
    </ng-container>
    :
    <span>₱ {{ referralRebates() | number: "1.2-2" }}</span>
  </li>
</ul>
