

.ngx-org
  &-horizontal
    padding: 1em 0


  &-vertical
    padding: 0 1em


  &-border
    border: 1px solid darkgrey

  &-count-left
    min-height: 50px
    min-width: 40px
    display: flex
    justify-content: center
    align-items: center
    margin-right: 10px
    padding: 10px
    border-right: 1px solid darkgrey

  &-count-right
    min-height: 50px
    width: 40px
    display: flex
    justify-content: center
    align-items: center
    margin-left: 10px
    padding: 10px
    border-left: 1px solid darkgrey

  &-box
    padding: 0 0
    border-radius: .2em

  &-shadow
    box-shadow: 0.05em 0.05em 0.2em 0.05em #00741380

  &-shadow-owner
    box-shadow: 0.05em 0.05em 0.2em 0.05em #94000080

  &-shadow-admin
    box-shadow: 0.05em 0.05em 0.2em 0.05em #003c8a80

  &-shadow-mega-center
    box-shadow: 0.05em 0.05em 0.2em 0.05em #7e007a80

  &-shadow-stockist
    box-shadow: 0.05em 0.05em 0.2em 0.05em #bd5b0080



  &-connector
    &-horizontal
      width: 1em


    &-vertical
      height: 1em
