<genealogy-node
  *ngIf="node"
  ngClass="ngx-org-{{ direction }}"
  [node]="node"
  [hasParent]="hasParent"
  [direction]="direction"
  [is_admin]="user?.is_admin || user?.is_owner"
  [root]="root"
  (itemClick)="itemClick.emit($event)"
>
</genealogy-node>

<div ngClass="ngx-org-reports-{{ direction }}" class="ngx-org-reports">
  <ng-container *ngIf="node?.left_branch">
    <div
      ngClass="ngx-org-org-container-{{ direction }}"
      class="ngx-org-org-container"
    >
      <div
        ngClass="ngx-org-connector-container-{{ direction }}"
        class="ngx-org-connector-container"
      >
        <div
          class="ngx-org-connector ngx-org-border"
          [style.border-color]="'transparent'"
        ></div>
        <div class="ngx-org-border"></div>
        <div
          class="ngx-org-connector ngx-org-border"
          [style.border-color]="node?.right_branch ? '' : 'transparent'"
        ></div>
      </div>

      <genealogy-designer
        [user]="user"
        [node]="node?.left_branch"
        [hasParent]="true"
        [direction]="direction"
        (itemClick)="itemClick.emit($event)"
      >
      </genealogy-designer>
    </div>
  </ng-container>

  <ng-container *ngIf="node?.right_branch">
    <div
      ngClass="ngx-org-org-container-{{ direction }}"
      class="ngx-org-org-container"
    >
      <div
        ngClass="ngx-org-connector-container-{{ direction }}"
        class="ngx-org-connector-container"
      >
        <div
          class="ngx-org-connector ngx-org-border"
          [style.border-color]="node?.left_branch ? '' : 'transparent'"
        ></div>
        <div class="ngx-org-border"></div>
        <div
          class="ngx-org-connector ngx-org-border"
          [style.border-color]="'transparent'"
        ></div>
      </div>

      <genealogy-designer
        [user]="user"
        [node]="node?.right_branch"
        [hasParent]="true"
        [direction]="direction"
        (itemClick)="itemClick.emit($event)"
      >
      </genealogy-designer>
    </div>
  </ng-container>
</div>
